.hébergements-section h2
{
	font-size: 22px;
	font-weight: 700;
}

.hébergements-section img
{
	height: 124px;
	width: 246px;
}

.hébergements-section
{
	background-color: rgb(242, 242, 242);
	border: solid rgb(242, 242, 242);
	width: auto;
	padding: 50px;
	border-radius: 20px;
	height: auto;
}

main
{
	/* margin-left: 50px;
	*/
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}

.mid-page
{
	width: 100%;
	display: flex;
	gap: 40px;	
}

main i
{
	color: rgb(0, 101, 252);
	height: 12px;
}

.hébergements-section h3
{
	font-size: 16px;
}

.first
{
	border: 5px solid white;
	border-radius: 20px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px;
}

.show-button
{
	font-family: Raleway;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	border: none;
	margin-top: 40px;
}

.first img
{
	border-radius: 20px 20px 0px 0px;
}

.second
{
	border: 5px solid white;
	border-radius: 20px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px;
}

.second img
{
	border-radius: 20px 20px 0px 0px;
}

.third
{
	border: 5px solid white;
	border-radius: 20px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px;
}

.third img
{
	border-radius: 20px 20px 0px 0px;
}

.left
{
	display: inline;
}

.rooms
{
	display: flex;
	justify-content: space-between;
	row-gap: 30px;
	padding-top: 20px;
	flex-flow: wrap;
}

.fourth
{
	border: 5px solid white;
	border-radius: 20px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px;
}

.fourth img
{
	border-radius: 20px 20px 0px 0px;
}

.fiftht
{
	border: 5px solid white;
	border-radius: 20px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px;
}

.fiftht img
{
	border-radius: 20px 20px 0px 0px;
}

.six
{
	border: 5px solid white;
	border-radius: 20px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px;
}

.six img
{
	border-radius: 20px 20px 0px 0px;
}

.populaire-section
{
	background-color: rgb(242, 242, 242);
	border: solid rgb(242, 242, 242);
	border-radius: 20px;
	width: auto;
	padding: 30px;
}

.populaire-section h2
{
	margin-bottom: 35px;
}

.populaire-section img
{
	height: 140px;
	width: 137px;
}

.f-first
{
	display: flex;
	gap: 20px;
	border-radius: 20px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px;
}

.f-first img
{
	border-radius: 20px 0px 0px 20px;
	padding-top: 5px;
	padding-left: 5px;
}

.famous-rooms
{
	display: flex;
	flex-direction: column;
	gap: 30px;
	
}

.f-two
{
	display: flex;
	gap: 20px;
	border-radius: 20px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px;
}

.f-two img
{
	border-radius: 20px 0px 0px 20px;
	padding-top: 5px;
	padding-left: 5px;
}

.f-three
{
	display: flex;
	gap: 20px;
	border-radius: 20px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px;
}

.f-three img
{
	border-radius: 20px 0px 0px 20px;
	padding-top: 5px;
	padding-left: 5px;
}

.activities img
{
	height: 444.508px;
	width: 302px;
}

.old-port
{
	border-radius: 20px;
	border: 5px solid white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px;
}

.old-port img
{
	border-radius: 20px 20px 0px 0px;
}

.activities
{
	display: flex;
	justify-content: space-between;
}

.fort
{
	border-radius: 20px;
	border: 5px solid white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px;
}

.fort img
{
	border-radius: 20px 20px 0px 0px;
}

.national
{
	border-radius: 20px;
	border: 5px solid white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px;
}

.national img
{
	border-radius: 20px 20px 0px 0px;
}

.dame
{
	border-radius: 20px;
	border: 5px solid white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px;
}

.dame img
{
	border-radius: 20px 20px 0px 0px;
}
.famous-title {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.famous-title i{
	width: 18px;
	height: 15px;
}