body {
    font-family : 'Raleway', sans-serif;
    margin : 0;
    padding : 0 50px;
    background-color : #FFFFFF;
    scroll-behavior: smooth;
    }
    .logo {
    height : 19px;
    }
    header {
    max-width : 1400px;
    width : 100%;
    margin-left : auto;
    margin-right : auto;
    padding-top : 50px;
    }
    nav {
    display : flex;
    justify-content : space-between;
    align-items : center;
    
    }
    .boutons {
    display : flex;
    gap : 60px;
    }
    .boutons :hover{
        border-top: #0065FC solid;
        
    }
    .boutons div {
    width : 100%;
    }
    .a-button {
    font-weight : 400;
    }
    a:hover {
    color : #0065FC;
    }
    .boutons, a {
    text-decoration : none;
    color : black;
    }
    h1 {
    font-weight : 700;
    font-size : 22px;
    }
    p {
    font-weight : 400;
    }
    .search-bar {
    display : block;
    padding-top : 50px;
    }
    .search-bar, h1 {
    margin-bottom : 0;
    }
    .search-bar, p {
    margin-top : 8px;
    margin-bottom : 20px;
    }
    input {
    border : #F2F2F2 solid 1px;
    border-radius : 15px;
    border-top : 14px;
    border-bottom : 14px;
    }
    
    .filters {
    display : flex;
    align-items : center;
    font-weight : 700;
    font-size : 18px;
    justify-content : flex-start;
    gap : 40px;
    }
    .b-filters{
        display: flex;
        
    }
    .b-filters button{
        width: max-content;
    }
    .filters, ul {
    display : flex;
    }
    .filters button {
    border : #D9D9D9 solid 2px;
    border-radius : 25px;
    padding : 8px;
    margin-right: 50px;
    font-size : 17px;
    font-weight : 700;
    
    }
    .eco-button{
        text-align: center;
        
    }
    .filters i {
    margin : 5px;
    color : #0065FC;
    }
    .filters button:hover {
    background : #DEEBFF;
    }
    .infos {
    margin : 40px;
    }
    .search-text {
    border : #F2F2F2 solid 1px;
    padding : 15px;
    border-radius : 0;
    font-family : 'Raleway', sans-serif;
    font-weight : 700;
    }
    .search-button {
    border : #F2F2F2 solid 1px;
    padding : 15px;
    border-radius : 0 15px 15px 0;
    background-color : #0065FC;
    color : white;
    font-family : 'Raleway', sans-serif;
    font-weight : 700;
    }
    .loop-button{
    display: none;
    height: 17px;
    border : #F2F2F2 solid 1px;
    padding : 15px;
    border-radius : 0 15px 15px 0;
    background-color : #0065FC;
    
    font-family : 'Raleway', sans-serif;
    font-weight : 700;
    

    }
    form {
    display : flex;
    align-items : center;
    justify-content: flex-start;
    }
    form i {
    border : #F2F2F2 solid 1px;
    padding : 15px;
    border-radius : 15px 0 0 15px;
    border-right : none;
    background-color : #F2F2F2;
    }
    .search-text :active {
    border : none;
    }
    .h-section h2 {
    font-size : 22px;
    font-weight : 700;
    }
    .h-section img {
    height : 124px;
    width : 246px;
    }
    .h-section {
    background-color : rgb(242, 242, 242);
    border : rgb(242, 242, 242) solid;
    padding : 40px;
    
    border-radius : 20px;
   
    }
    main {
    margin : 0 auto;
    width : 100%;
    max-width : 1400px;
    }
    .actm {
    margin : 0 auto;
    width : 100%;
    max-width : 1400px;
    }
    .mid-page {
    width : 100%;
    display : flex;
    gap: 20px;
    
    /* gap: 40px; */
    }
    main i {
    color : rgb(0, 101, 252);
    height : 12px;
    }
    .h-section h3 {
    font-size : 16px;
    }
    .h-rooms {
    border : white solid 5px;
    border-radius : 20px;
    background-color : white;
    box-shadow : 0 2px 1px rgb(0, 0, 0, 0.1);
    /* margin-right: 30px; */
    max-width: 246px;
    margin: 5px;
    }
    .h-rooms i{
        margin-top: 10px;
    }
    #top i{
        margin-top: 70px;
    }
    #mid i{
        margin-top: 52px;
    }
    #low i{
        margin-top: 70px;
    }
   .rows{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    /* padding-bottom: 10px; */
    /* margin-right: 18px; */
   }
  
   
    
    #top-left{
        background-image: url("../images/canebiere-large.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        min-width: 246px;
        height: 124px;
        border-radius : 20px 20px 0 0;
    }
    #top-mid{
        background-image: url("../images/port-large.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        min-width: 246px;
        height: 124px;
        border-radius : 20px 20px 0 0;
    }
    #top-right{
        background-image: url("../images/mouette-large.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        min-width: 246px;
        height: 124px;
        border-radius : 20px 20px 0 0;
    }
    #mid-left{
        background-image: url("../images/mer.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        min-width: 246px;
        height: 124px;
        border-radius : 20px 20px 0 0;
    }
    #mid-mid{
        background-image: url("../images/panier.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        min-width: 246px;
        height: 124px;
        border-radius : 20px 20px 0 0;
    }
    #mid-right{
        background-image: url("../images/amina.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        min-width: 246px;
        height: 124px;
        border-radius : 20px 20px 0 0;

    }


    .show-button {
    font-family : Raleway;
    font-style : normal;
    font-weight : 700;
    font-size : 18px;
    line-height : 21px;
    border : none;
    margin-top : 40px;
    }
    .left {
    display : inline;
    }
    .h-column {
    display : flex;
    justify-content: space-around;
    /* row-gap : 30px; */
    flex-direction: column;
    padding-top : 20px;
    /* flex-flow : wrap; */
    width: 100%;
    /* background: red; */
    }
    .populaire-section {
    background-color : rgb(242, 242, 242);
    border : rgb(242, 242, 242) solid;
    border-radius : 20px;
    width : auto;
    height : auto;
    padding : 30px;
    }
    .populaire-section h2 {
    margin-bottom : 35px;
    }
    .populaire-section img {
    height : 144px;
    width : 137px;
    }
    .f-rooms {
    display : flex;
    border-radius : 20px;
    background-color : white;
    box-shadow : 0 2px 1px rgb(0, 0, 0, 0.1);
    width : 343px;
    }
    .f-rooms .rooms-bottom{
        padding-left: 10px;
    }
    .rooms-bottom p{
        margin: 0px;
    }
    .f-rooms img {
    border-radius : 20px 0 0 20px;
    padding-left : 5px;
    padding-top : 5px;
    }
    .famous-rooms {
    display : flex;
    flex-direction : column;
    gap : 33px;
    }
    .f-rooms h3{
        font-size: 16px;
        margin-bottom: 0;
    }
    .f-rooms p{
        margin-top: 5px;
    }
   
    
    #a-one{
        background-image: url("../images/oldport.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        min-width: 302px;
        height: 444.508px;
        border-radius : 20px 20px 0 0;
    }
    #a-two{
        background-image: url("../images/fort.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        min-width: 302px;
        height: 444.508px;
        border-radius : 20px 20px 0 0;
    }
    #a-three{
        background-image: url("../images/national.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        min-width: 302px;
        height: 444.508px;
        border-radius : 20px 20px 0 0;
    }
    #a-four{
        background-image: url("../images/dame.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        min-width: 302px;
        height: 444.508px;
        border-radius : 20px 20px 0 0;
    }
    .activities {
    display : flex;
    justify-content : space-between;
    }
    .act {
    border-radius : 20px;
    border : white solid 5px;
    box-shadow : 0 2px 1px rgb(0, 0, 0, 0.1);
    }
   
    .famous-title {
    display : flex;
    align-items : center;
    justify-content : space-between;
    }
    .famous-title i {
    width : 18px;
    height : 15px;
    }
    footer {
    background : #F2F2F2;
    width : 100%;
    margin : 0 auto;
    max-width : 1440px;
    padding-top : 30px;
    margin-top : 60px;
    }
    .foot {
    display : flex;
    justify-content : space-between;
    margin-right : 350px;
    margin-left : 70px;
    }
    .about {
    display : flex;
    flex-direction : column;
    }
    .host {
    display : flex;
    flex-direction : column;
    }
    .assist {
    display : flex;
    flex-direction : column;
    }
    footer h3 {
    margin-bottom : 20px;
    }
    footer a {
    margin-bottom : 12px;
    }
    .filters img{
        width: 20px;
        color: #0065FC;
        margin-right: 5px;
        
        
    }
    .info-s{
        width: 4px;
        border: solid 1px #D9D9D9;
        padding: 6px;
        border-radius: 50%;
        position: absolute;
        
    }
   
   
   
@media screen and ( max-width: 992px ) {
    body {
        padding : 0 73px;
        }
        .filters {
            gap: 13px;
        }
        #top i{
            margin-top: 50px;
        }
        #mid i{
            margin-top: 65px;
        }
        #low i{
            margin-top: 65px;
        }
        .mid-page {
        flex-wrap : wrap;
        }
        .h-section {
        width : 100%;
        /* width: calc(100% - 80px); */
        padding: 10px;
        }
        
        .populaire-section img {
        width : 106px;
        height : 144px;
        }
        .famous-rooms {
        display : flex;
        flex-direction : row;
        gap: 1rem;
        }
        .f-rooms {
            width: 30%;
            min-width: 243px;
            
        }
        .f-rooms h3 {
        font-size : 14px;
        margin-bottom : 0;
        }
        .f-rooms p {
        font-size : 13px;
        }
        .act{
            min-width: 182px;
        }
        
    
        #a-one{
            min-width: 182px;
            height:267px ;
        }
        #a-two{
            min-width: 182px;
            height:267px ;
        }
        #a-three{
            min-width: 182px;
            height:267px ;
        }
        #a-four{
            min-width: 182px;
            height:267px ;
        }
        .populaire-section {
        width : 100%;
        /* width: calc(100% - 60px); */
        margin-top: 20px;
        }
        .famous-title {
        justify-content : space-between;
        }
        .foot {
        margin-right : 150px;
        }
    }
@media screen and ( max-width: 980px ){
    .famous-rooms{
        flex-wrap: wrap;
    }
}
@media screen and ( max-width: 768px ){
    body {
        padding : 20px;
        margin : 0 auto;
        }
        .mid-page {
        flex-wrap : wrap-reverse;
        }
        .famous-rooms {
        display : flex;
        flex-direction : column;
        }
        .f-rooms{
            width: 100%;
            max-height: 155px;
        }
       
        .f-rooms h3 {
        font-size : 18px;
        }
        .f-rooms p {
        font-size : 14px;
        }
        .f-rooms img {
        width : 137px;
        height: 144px;
        }
        .populaire-section {
        border-radius : 0;
        width : 100%;
        }
        .h-section {
        background-color : white;
        border-radius : 0;
        border : none;
        width : 100%;
        }
        .h-rooms{
            width: 100%;
            max-width: 100%;
        }
        .rows{
            flex-direction: column;
        }
     
       
        
        .activities {
        flex-direction : column;
        gap: 24px;
        
        }
       
        .act {
        min-width : 100%;
        width: 100%;
        }
       
        .foot {
        flex-direction : column;
        }
        nav {
        flex-direction : column;
        gap : 50px;
        text-align : center;
        }
        .boutons {
        width : 100%;
        }
        .boutons :hover{
            border-bottom: #0065FC solid;
            padding-bottom:25px ;
            padding-top: 0;
            border-top: none;
        }
        .search-bar {
        text-align : center;
        }
        .filtres button {
        flex-wrap : wrap;
        }
        .search {
        width : 100%;
        }
        .b-filters{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px;
        }
        .b-filters button{
            width: 100%;
            margin: 15px;
        }
        .filters{
            width: 100%;
        }
        form{
            margin: 0 auto;
            width: 100%;
            max-width: 768px;
            justify-content: center;
        }
        .loop-button{
            display: block;
        }
        .search-button{
            display: none;
        }
        .filters{
            display: block;
        }

    }