.hébergements-section h2{
    font-size: 22px;
    font-weight: 700;
    
    
}
.hébergements-section img{
    height: 124px;
    width: 246px;
}
.hébergements-section{
    background-color:#F2F2F2; 
    border: #F2F2F2 solid;
    width: 880px;
    padding: 50px;
    border-radius: 20px;
    height:626px ;
}

main{
    margin-left: 50px;
    height: 10000px;
}

   

.mid-page{
    width: 100%;
    display: flex;
    gap: 40px;
}
main i{
    color: #0065FC;
    height: 12px;
}
.hébergements-section h3{
    font-size: 16px;
}
.first{
    border: 5px solid white;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 0px 2px 1px rgb(0, 0, 0, 0.1) ;
}
.show-button{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    border: none;
    margin-top: 40px;
}
.first img{
    border-radius: 20px 20px 0px 0px;
}
.second{
    border: 5px solid white;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 0px 2px 1px rgb(0, 0, 0, 0.1) ;
}
.second img{
    border-radius: 20px 20px 0px 0px;
}
.third{
    border: 5px solid white;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 0px 2px 1px rgb(0, 0, 0, 0.1) ;
}
.third img{
    border-radius: 20px 20px 0px 0px;
}
.left{
    display: inline;
}
.rooms{
    display: grid;
    grid-template-columns:250px 250px 250px ;
    gap: 31px;
    padding-top: 20px;
    flex-flow: wrap;
    padding-right: none;

    
}
.fourth{
    border: 5px solid white;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 0px 2px 1px rgb(0, 0, 0, 0.1) ;
}
.fourth img{
    border-radius: 20px 20px 0px 0px;
}
.fiftht{
    order: 5px solid white;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 0px 2px 1px rgb(0, 0, 0, 0.1) ;
}
.fiftht img{
    border-radius: 20px 20px 0px 0px;
}
.six{
    order: 5px solid white;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 0px 2px 1px rgb(0, 0, 0, 0.1) ;
}
.six img{
    border-radius: 20px 20px 0px 0px;
}
.populaire-section{
    background-color:#F2F2F2; 
    border: #F2F2F2 solid;
    border-radius: 20px;
    width: 420px;
    height: fit-content;
    padding: 30px;
}
.populaire-section h2{
    margin-bottom: 35px;
}
.populaire-section img{
    height: 140px;
    width: 137px;
}
.f-first{
    display: flex;
    gap: 20px;
    order: 5px solid white;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 0px 2px 1px rgb(0, 0, 0, 0.1) ;
}
.f-first img{
    border-radius: 20px 0px 0px 20px;
    padding-top: 5px;
    padding-left: 5px;
}
.famous-rooms{
    display: flex;
    flex-direction: column;
    gap:70px ;
    width: 350px;
    
}
.f-two{
    display: flex;
    gap: 20px;
    order: 5px solid white;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 0px 2px 1px rgb(0, 0, 0, 0.1) ;
}
.f-two img{
    border-radius: 20px 0px 0px 20px;
    padding-top: 5px;
    padding-left: 5px;
}
.f-three{
    display: flex;
    gap: 20px;
    order: 5px solid white;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 0px 2px 1px rgb(0, 0, 0, 0.1) ;
}
.f-three img{
    border-radius: 20px 0px 0px 20px;
    padding-top: 5px;
    padding-left: 5px;
}



.activities img{
    height: 444.5082092285156px;
    width: 302px;

}
.old-port{
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 0px 2px 1px rgb(0, 0, 0, 0.1) ;
}
.old-port img{
    border-radius: 20px 20px 0px 0px;
}

.activities{
    display: flex;
    justify-content: space-between;

}
.fort{
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 0px 2px 1px rgb(0, 0, 0, 0.1) ;
}
.fort img{
    border-radius: 20px 20px 0px 0px;
}
.national{
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 0px 2px 1px rgb(0, 0, 0, 0.1) ;
}
.national img{
    border-radius: 20px 20px 0px 0px;
}
.dame{
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 0px 2px 1px rgb(0, 0, 0, 0.1) ;
}
.dame img{
    border-radius: 20px 20px 0px 0px;
}