footer{
    background: #F2F2F2;
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    align-items: stretch;
    gap: 300px;
    padding-top: 20px;
    margin-top: 60px;
}
.about{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.host{
    display: flex;
    flex-direction: column;
}
.assist{
    display: flex;
    flex-direction: column;
}
footer h3{
    margin-bottom: 20px;
}
footer a{
    margin-bottom: 12px;
}
